# Data Processing

In [21]:
import sys
sys.path.append("..")

import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

from src.tests import validate_dataset
from src.data_processing import remove_outliers

## Import initial_cohort

In [33]:
df = pd.read_csv("../data/initial_cohort_final.csv", index_col=0)

## One Hot Encode

- admission_type
- gender
- ventilation_status

In [34]:
df = pd.get_dummies(data=df, columns=["admission_type", "gender", "ventilation_status"])

## Transform binary encode vasoactive drugs

In [35]:
va_drugs = ["dopamine", "epinephrine", "norepinephrine", "phenylephrine",
            "vasopressin", "dobutamine", "milrinone"]

for drug in va_drugs:
    df[drug] = np.where(df[drug].notna(), 1, 0)

df[va_drugs].head(10)

,dopamine,epinephrine,norepinephrine,phenylephrine,vasopressin,dobutamine,milrinone
0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0
2,0,0,0,1,0,0,0
3,0,0,0,1,0,0,0
4,0,0,0,1,0,0,0
5,0,0,0,1,0,0,0
6,0,0,0,1,0,0,0
7,0,0,0,1,0,0,0
8,0,0,1,0,0,0,0
9,0,0,1,0,0,0,0

## Manage NA values in specific features

### suspected_infection

If suspected_infection is NA, assume 0

In [36]:
df["suspected_infection"] = np.where(
    df["suspected_infection"].isna(), 0, df["suspected_infection"]
)

## Glimpse and validate

In [ ]:
df.head(10)

,subject_id,hadm_id,stay_id,n_stays,sum_los,admission_age,suspected_infection,weight,height,heart_rate_min,...,admission_type_SURGICAL SAME DAY ADMISSION,admission_type_URGENT,gender_F,gender_M,ventilation_status_HFNC,ventilation_status_InvasiveVent,ventilation_status_NonInvasiveVent,ventilation_status_None,ventilation_status_SupplementalOxygen,ventilation_status_Tracheostomy
0,10002348,22725460,32610785,1,9.79,77,1.0,41.6,NaN,53.0,...,0,0,1,0,0,0,0,0,1,0
1,10002428,28662225,38875437,2,11.96,81,1.0,43.0,NaN,93.0,...,0,0,1,0,0,1,0,0,0,0
2,10002428,28662225,38875437,2,11.96,81,1.0,43.0,NaN,93.0,...,0,0,1,0,0,1,0,0,0,0
3,10002428,28662225,38875437,2,11.96,81,1.0,43.0,NaN,93.0,...,0,0,1,0,0,1,0,0,0,0
4,10002428,28662225,38875437,2,11.96,81,1.0,43.0,NaN,93.0,...,0,0,1,0,0,1,0,0,0,0
5,10002428,28662225,38875437,2,11.96,81,1.0,43.0,NaN,93.0,...,0,0,1,0,0,1,0,0,0,0
6,10002428,28662225,38875437,2,11.96,81,1.0,43.0,NaN,93.0,...,0,0,1,0,0,1,0,0,0,0
7,10002428,28662225,38875437,2,11.96,81,1.0,43.0,NaN,93.0,...,0,0,1,0,0,1,0,0,0,0
8,10002428,28662225,38875437,2,11.96,81,1.0,43.0,NaN,93.0,...,0,0,1,0,0,1,0,0,0,0
9,10002428,28662225,38875437,2,11.96,81,1.0,43.0,NaN,93.0,...,0,0,1,0,0,1,0,0,0,0

In [ ]:
validate_dataset(df)

ERROR:root:Group: [[10002348, 22725460]], NA present in columns: ['height' 'albumin_min' 'albumin_max' 'bilirubin_total_min'
 'bilirubin_total_max' 'lactate_min' 'lactate_max' 'ph_min' 'ph_max'
 'pco2_min' 'pco2_max' 'po2_min' 'po2_max' 'pao2fio2ratio_min'
 'pao2fio2ratio_max' 'icu_intime' 'starttime' 'icu_vasopressin_timediff']

False