# **COMP90089 Final Project**

## **Selecting Initial Patient Cohort from MIMICIV**

In [ ]:
from google.colab import drive

drive.mount('/content/drive')
path = '/content/drive/My Drive'

Mounted at /content/drive

In [3]:
#Set up the environement

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import functools as ft
%matplotlib inline


#Project_ID
project_id = "mimic-iv-projects" 

# Read data from BigQuery into pandas dataframes.
def run_query(query, project_id=project_id):
    return pd.io.gbq.read_gbq(
        query,
        project_id=project_id,
        dialect='standard')

In [46]:
#Select patients from ICU_stays based on: n_stay >= 1 and average los >= 3.3 per 	hadm_id:

c1= f"""
SELECT
    icustays.subject_id As subject_id,
    icustays.hadm_id As hadm_id,
    count(icustays.stay_id) As n_stays,
    avg(icustays.los) As avg_los
FROM
  `physionet-data.mimiciv_icu.icustays` AS icustays
GROUP BY
    subject_id,	hadm_id
HAVING 
   n_stays >= 1 AND avg_los >= 3.3
ORDER BY
    subject_id,	hadm_id
"""

In [52]:
cohort_c1 = f"""
    SELECT icustays.stay_id As stay_id,
    c1.*
    FROM  ({c1}) As c1
    INNER JOIN `physionet-data.mimiciv_icu.icustays` AS icustays
    ON icustays.hadm_id = c1.hadm_id
"""

In [53]:
cohort_c1_q = run_query(cohort_c1)

In [ ]:
cohort_c1_q

In [63]:
#Select patients from hosp based on the age range (18 - 90) and survival status (dod is null):
cohort_c2= f"""
      SELECT cohort_c1.*,
            patients.gender As gender,
            patients.anchor_age As anchor_age
      FROM ({cohort_c1}) As cohort_c1
      INNER JOIN `physionet-data.mimiciv_hosp.patients` As patients
        ON cohort_c1.subject_id = patients.subject_id AND (patients.anchor_age BETWEEN 18 AND 90) AND  patients.dod IS NULL
        ORDER BY
          patients.subject_id
        """

In [64]:
cohort_c2_q = run_query(cohort_c2)

In [66]:
cohort_c2_q

        stay_id  subject_id   hadm_id  n_stays    avg_los gender  anchor_age
0      32610785    10002348  22725460        1   9.792512      F          77
1      33987268    10002428  28662225        2   6.007014      F          80
2      38875437    10002428  28662225        2   6.007014      F          80
3      35479615    10002428  23473524        1  10.977222      F          80
4      36753294    10002495  24982426        1   5.087512      M          81
...         ...         ...       ...      ...        ...    ...         ...
11545  32134105    19997473  27787494        2   4.145220      F          82
11546  32568753    19997473  27787494        2   4.145220      F          82
11547  34531437    19997752  29452285        1   5.026181      F          66
11548  30143796    19999068  21606769        1   6.765324      M          63
11549  32336619    19999442  26785317        1   6.950370      M          41

[11550 rows x 7 columns]

In [ ]:
#Demographic
# Presence of infection
# Table: mimiciv_derived.suspicion_of_infection
# Presence of infection (suspected_infection)

cohort_demographic_1 = f"""
SELECT suspicion_of_infection.subject_id As subject_id,
       suspicion_of_infection.suspected_infection As suspected_infection,
FROM `physionet-data.mimiciv_derived.suspicion_of_infection` As suspicion_of_infection
   WHERE suspicion_of_infection.suspected_infection = 1
"""

In [ ]:
# Table: mimiciv_hosp.admissions
# Type of admission (admission_type)

#Note: Some patients have more than one admission type

cohort_demographic_2 = f"""
 SELECT  admission.subject_id As subject_id,
         admission.admission_type As admission_type,
         first_day_weight.weight As weight,
         first_day_height.height As height

 FROM `physionet-data.mimiciv_hosp.admissions` As admission 
 INNER JOIN `physionet-data.mimiciv_derived.first_day_weight` as first_day_weight
 ON admission.subject_id = first_day_weight.subject_id
 INNER JOIN `physionet-data.mimiciv_derived.first_day_height` As first_day_height
 ON first_day_weight.subject_id = first_day_height.subject_id
"""

In [ ]:
# cohort_demographic = run_query(cohort_demographic)

In [ ]:
# Vital signs
#Table: mimiciv_derived.first_day_vitalsign

#heart rate(heart_rate)
#respiratory_rate (resp_rate)
#body_temp (temperature)
# Invasive mean arterial pressure (mbp_mean)
# Invasive systolic blood pressure (sbp_mean)
# Invasive diastolic blood pressure (dbp_mean)
# Oxygen saturation (SPO2)

# Note: (Non-invasive pressure) Not found in the first_day_vitalsign table
# Non-invasive mean arterial pressure(mbp_ni)
# Non-invasive Systolic blood pressure(sbp_ni)
# Non-invasive Diastolic blood pressure(dbp_ni)

cohort_vital_signs = f"""
SELECT vitalsigns.subject_id As subject_id,
       vitalsigns.heart_rate_mean As heart_rate,
       vitalsigns.resp_rate_mean As resp_rate,
       vitalsigns.temperature_mean As temperature,
       vitalsigns.mbp_mean As mbp,
       vitalsigns.sbp_mean As sbp,
       vitalsigns.dbp_mean As dbp,
       vitalsigns.mbp_mean As mbp,
       vitalsigns.spo2_mean As spo2
 FROM `physionet-data.mimiciv_derived.first_day_vitalsign`  As vitalsigns 
"""

In [ ]:

# Laboratory tests


#Table: mimiciv_derived.first_day_lab

# Albumin(albumin_min, albumin_max)
# Blood urea nitrogen (bun_min, bun_max)
# Calcium (calcium_min, calcium_max)
# creatinine (creatinine_min, creatinine_max)
# Glucose (glucose_min, glucose_max)
# Bicarbonate (bicarbonate_min, bicarbonate_max)
# Potassium (potassium_min, potassium_max)
# Sodium (sodium_min, sodium_max)
# Platelets (platelets_min, platelets_max)
# Bilirubin (bilirubin_total_min, bilirubin_total_max)
# White blood cell count (wbc_min, wbc_max)

#Table: mimiciv_derived.first_day_bg

# Lactate (lactate_min, lactate_max)
# pH (ph_min, ph_max)
# Partial pressure of carbon dioxide (pco2_min, pco2_max)
# Partial pressure of Oxygen (po2_min, po2_max)
# PaO2/FiO2 ratio (pao2fio2ratio_min, pao2fio2ratio_max)

#Not Found! 

# Lactate Dehydrogenase,
# Magnesium (Mg), 
#Leukocytes
# Urea

cohort_lab_tests = f"""
SELECT lab_tests.subject_id As subject_id,
       lab_tests.albumin_min As albumin_min,
       lab_tests.albumin_max As albumin_max,
       lab_tests.bun_min As bun_min,
       lab_tests.bun_max As bun_max,
       lab_tests.calcium_min As calcium_min,
       lab_tests.calcium_max As calcium_max,
       lab_tests.creatinine_min As creatinine_min,
       lab_tests.creatinine_max As creatinine_max,
       lab_tests.glucose_min As glucose_min,
       lab_tests.glucose_max As glucose_max,
       lab_tests.bicarbonate_min As bicarbonate_min,
       lab_tests.bicarbonate_max As bicarbonate_max,
       lab_tests.potassium_min As potassium_min,
       lab_tests.potassium_max As potassium_max,
       lab_tests.sodium_min As sodium_min,
       lab_tests.sodium_max As sodium_max,
       lab_tests.platelets_min As platelets_min,
       lab_tests.platelets_max As platelets_max,
       lab_tests.bilirubin_total_min As bilirubin_total_min,
       lab_tests.bilirubin_total_max As bilirubin_total_max,
       lab_tests.wbc_min As wbc_min,
       lab_tests.wbc_max As wbc_max,
       lab_bg_tests.lactate_min As lactate_min,
       lab_bg_tests.lactate_max As lactate_max,
       lab_bg_tests.ph_min As ph_min,
       lab_bg_tests.ph_max As ph_max,
       lab_bg_tests.pco2_min As pco2_min,
       lab_bg_tests.pco2_max As pco2_max,
       lab_bg_tests.po2_min As po2_min,
       lab_bg_tests.po2_max As po2_max,
       lab_bg_tests.pao2fio2ratio_min As pao2fio2ratio_min,
       lab_bg_tests.pao2fio2ratio_max As pao2fio2ratio_max
      
 FROM `physionet-data.mimiciv_derived.first_day_lab`  As lab_tests
 INNER JOIN `physionet-data.mimiciv_derived.first_day_bg` As lab_bg_tests
 ON lab_tests.subject_id = lab_bg_tests.subject_id
"""

In [ ]:
# Comorbidities

# Table: mimiciv_derived.charlson
# Charlson index (charlson_comorbidity_index)


cohort_comorbidities_1 = f"""
SELECT charlson_comorbidity.subject_id As subject_id,
       charlson_comorbidity.charlson_comorbidity_index As charlson

FROM `physionet-data.mimiciv_derived.charlson` As charlson_comorbidity
"""

In [ ]:
# Table: mimiciv_derived.gcs
# Glasgow coma scale (gcs)

# Table: mimiciv_derived.first_day_sofa
# Sequential Organ Failure Assessment score (SOFA)

cohort_comorbidities_2 = f"""
SELECT glasgow_coma_scale.subject_id As subject_id,
       glasgow_coma_scale.gcs As gcs,
       first_day_sofa.SOFA As sofa

FROM `physionet-data.mimiciv_derived.gcs` As glasgow_coma_scale
INNER JOIN `physionet-data.mimiciv_derived.first_day_sofa` As first_day_sofa
ON glasgow_coma_scale.subject_id = first_day_sofa.subject_id 
"""

In [ ]:
# Device use

# Table: mimiciv_derived.ventilation
# Ventilation status (ventilation_status)

device_use = f"""
SELECT ventilation.stay_id As stay_id,
       ventilation.ventilation_status As ventilation_status
FROM `physionet-data.mimiciv_derived.ventilation` As ventilation
"""

In [ ]:
cohort_device_use = f"""
SELECT cohort_c1.*,
       device_use.* 
FROM ({cohort_c1}) as cohort_c1
INNER JOIN ({device_use}) as device_use
ON cohort_c1.stay_id = device_use.stay_id
"""

In [ ]:
run_query(cohort_device_use)

In [ ]:
# Input/output: 


# Table: mimiciv_derived.first_day_urine_output 
# Urine output (urineoutput)


cohort_urine_output = f"""
SELECT urine_output.subject_id As subject_id,
       urine_output.urineoutput As urineoutput,           
FROM `physionet-data.mimiciv_derived.first_day_urine_output` As urine_output
"""

In [ ]:
# Input/output: 

# Table: mimiciv_derived.vasopressin 
# Use of vasopressors (vaso_rate)

vasopressin = f"""
SELECT vasopressin.stay_id As stay_id,
       vasopressin.vaso_rate As vaso_rate      
FROM `physionet-data.mimiciv_derived.vasopressin` As vasopressin
"""

In [ ]:
cohort_vasopressin = f"""
SELECT cohort_c1.*,      
       vasopressin.* 
FROM ({cohort_c1}) as cohort_c1
INNER JOIN ({vasopressin}) as vasopressin
ON cohort_c1.stay_id = vasopressin.stay_id
"""

In [ ]:
final_query = f"""
      SELECT cohort_c1.*,
             cohort_c2.*,
             cohort_demographic_1.*,
             cohort_demographic_2.*,
             cohort_vital_signs.*,
             cohort_lab_tests.*,
             cohort_comorbidities_1.*,
             cohort_comorbidities_2.*,
             cohort_device_use.*,
             cohort_urine_output.*,
             cohort_vasopressin.*
      FROM ({cohort_c1}) As cohort_c1
      INNER JOIN ({cohort_c2}) As cohort_c2
      ON cohort_c1.subject_id = cohort_c2.subject_id
      INNER JOIN ({cohort_demographic_1}) As cohort_demographic_1
      ON cohort_c2.subject_id = cohort_demographic_1.subject_id
      INNER JOIN ({cohort_demographic_2}) as cohort_demographic_2
      ON cohort_demographic_1.subject_id = cohort_demographic_2.subject_id
      INNER JOIN ({cohort_vital_signs}) As cohort_vital_signs
      ON cohort_demographic_2.subject_id = cohort_vital_signs.subject_id
      INNER JOIN ({cohort_lab_tests}) As cohort_lab_tests
      ON cohort_vital_signs.subject_id = cohort_lab_tests.subject_id 
      INNER JOIN ({cohort_comorbidities_1}) As cohort_comorbidities_1
      ON cohort_lab_tests.subject_id  = cohort_comorbidities_1.subject_id
      INNER JOIN ({cohort_comorbidities_2}) As cohort_comorbidities_2
      ON cohort_comorbidities_1.subject_id  = cohort_comorbidities_2.subject_id
      INNER JOIN ({cohort_device_use}) As cohort_device_use
      ON  cohort_comorbidities_2.subject_id = cohort_device_use.subject_id
      INNER JOIN ({cohort_urine_output}) As cohort_urine_output
      ON cohort_device_use.subject_id = cohort_urine_output.subject_id 
      INNER JOIN ({cohort_vasopressin}) As cohort_vasopressin
      ON cohort_urine_output.subject_id  = cohort_vasopressin.subject_id
      """

In [ ]:
final_cohort = run_query(final_query)