<a href="https://colab.research.google.com/github/johnsonjzhou/comp90089-project/blob/main/sql/initial_cohort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **COMP90089 Final Project**

## **Selecting Initial Patient Cohort from MIMICIV**

### **Set up the environemnt**

In [2]:
from google.colab import drive

drive.mount('/content/drive')
path = '/content/drive/My Drive'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
!pip install -U pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.41)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.3.post0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.13.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.9.0)

In [4]:
#Set up the environement

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import functools as ft
from pandasql import sqldf
%matplotlib inline


#Project_ID
project_id = "mimic-iv-projects" 

# Read data from BigQuery into pandas dataframes.
def run_query(query, project_id=project_id):
    return pd.io.gbq.read_gbq(
        query,
        project_id=project_id,
        dialect='standard')

### **SQL queries**

#### **1. Queries for finding the patients with criteria:**
 * n_stay >= 1
 * sum Los >= 3.3 
 * age between 18 and 90
 * Date of Death is undefined

In [101]:
#Select patients from ICU_stays based on: n_stay >= 1 and sum los >= 3.3 per 	hadm_id:

c1= f"""
SELECT
    icustays.subject_id As subject_id,
    icustays.hadm_id As hadm_id,
    count(icustays.stay_id) As n_stays,
    sum(icustays.los_icu) As sum_los,
FROM
  `physionet-data.mimiciv_derived.icustay_detail` AS icustays
GROUP BY
    subject_id,	hadm_id
HAVING 
   n_stays >= 1 AND 
   sum_los >= 3.3 
ORDER BY
    subject_id,	hadm_id
"""

In [6]:
#Filter the patients from c1 to include the cohort that has age range (18 - 90) and survival status (dod is null):
cohort_c1 = run_query(f"""
    
    SELECT DISTINCT
           c1.subject_id As subject_id,
           c1.hadm_id As hadm_id,
           icustays.stay_id As stay_id,
           c1.n_stays As n_stays,
           c1.sum_los As sum_los,
           icustays.gender As gender,
           icustays.admission_age As admission_age
    FROM  ({c1}) As c1
    INNER JOIN `physionet-data.mimiciv_derived.icustay_detail` AS icustays
    ON icustays.hadm_id = c1.hadm_id AND (icustays.admission_age BETWEEN 18 AND 90) AND  (icustays.dod IS NULL)
    ORDER BY
         c1.subject_id
""")

In [7]:
cohort_c1.to_csv('/content/drive/MyDrive/cohort_criteria_data.csv', index=False)

In [8]:
#Desired cohort subject_ids, hadm_id, and stay_ids 
cohort_subject_ids = list(cohort_c1['subject_id'].unique())
cohort_stay_ids = list(cohort_c1['stay_id'].unique())
cohort_hadm_ids = list(cohort_c1['hadm_id'].unique())

#### **2. Queries for selecting demographic features for the cohort:**

In [9]:
#Demographic_1
# Presence of infection
# Table: mimiciv_derived.suspicion_of_infection
# Presence of infection (suspected_infection = 1 or 0)


# ---- Note: some stay ids has different suspected_infection values based on 
# the used the used antibiotic and the antibiotic_time; so only the last value is included  

demographic_1 = run_query(f"""
    SELECT 
           suspicion_of_infection.subject_id As subject_id,
           suspicion_of_infection.stay_id As stay_id,
           max(suspicion_of_infection.suspected_infection) As suspected_infection
    FROM `physionet-data.mimiciv_derived.suspicion_of_infection` As suspicion_of_infection
    GROUP By 
       subject_id, stay_id
""")

In [10]:
demographic_1.to_csv('/content/drive/MyDrive/cohort_demographic_1.csv',index=False)

In [11]:
#Demographic_2
# Table: mimiciv_hosp.admissions
# Type of admission (admission_type)

#Note: Some patients have more than one admission type

demographic_2 = run_query(f"""
    SELECT  admission.subject_id As subject_id,
            admission.hadm_id As hadm_id,
            admission.admission_type As admission_type
    FROM `physionet-data.mimiciv_hosp.admissions` As admission    
""")

In [12]:
demographic_2.to_csv('/content/drive/MyDrive/cohort_demographic_2.csv',index=False)

In [13]:
##Demographic_3
# Table: mimiciv_derived.first_day_weight
# weight

demographic_3 = run_query(f"""
    SELECT  first_day_weight.subject_id As subject_id,
            first_day_weight.stay_id As stay_id,
            first_day_weight.weight As weight
    FROM `physionet-data.mimiciv_derived.first_day_weight` as first_day_weight
   """)

In [14]:
demographic_3.to_csv('/content/drive/MyDrive/cohort_demographic_3.csv',index=False)

In [15]:
##Demographic_4
# Table: mimiciv_derived.first_day_height
demographic_4 = run_query(f"""
    SELECT  first_day_height.subject_id As subject_id,
            first_day_height.stay_id As stay_id,
            first_day_height.height As height
      FROM `physionet-data.mimiciv_derived.first_day_height` As first_day_height
    """)

In [16]:
demographic_4.to_csv('/content/drive/MyDrive/cohort_demographic_4.csv',index=False)

#### **3. Queries for selecting vitalsigns features for the cohort:**

In [17]:
# Vital signs
#Table: mimiciv_derived.first_day_vitalsign`

#heart rate(heart_rate_min, heart_ratemax)
#respiratory_rate (resp_rate_min, resp_rate_max)
#body_temp (temperature_min, temperature_max)

# Invasive mean arterial pressure (mbp_min, mbp_max)
# Invasive systolic blood pressure (sbp_min sbp_ max)
# Invasive diastolic blood pressure (dbp_min dbp_max)
# Oxygen saturation (SPO2_mean)

#(Non-invasive values) not included in the first_day_vitalsign
# Non-invasive mean arterial pressure
# Non-invasive Systolic blood pressure
# Non-invasive Diastolic blood pressure

vitalsigns = run_query(f"""
    SELECT first_day_vitalsigns.subject_id As subject_id,
          first_day_vitalsigns.stay_id As stay_id,
          first_day_vitalsigns.heart_rate_min As heart_rate_min,
          first_day_vitalsigns.heart_rate_max As heart_rate_max,
          first_day_vitalsigns.temperature_min As temperature_min,
          first_day_vitalsigns.temperature_max As temperature_max,
          first_day_vitalsigns.mbp_min As mbp_min,
          first_day_vitalsigns.mbp_max As mbp_max,
          first_day_vitalsigns.sbp_min As sbp_min,
          first_day_vitalsigns.sbp_max As sbp_max,
          first_day_vitalsigns.dbp_min As dbp_min,
          first_day_vitalsigns.dbp_max As dbp_max,
          first_day_vitalsigns.spo2_min As spo2_min,
          first_day_vitalsigns.spo2_max As spo2_max,
    FROM `physionet-data.mimiciv_derived.first_day_vitalsign`  As first_day_vitalsigns
""")

In [18]:
vitalsigns.to_csv('/content/drive/MyDrive/cohort_vitalsigns.csv',index=False)

#### **4. Queries for selecting lab tests features for the cohort:**

In [24]:

# Laboratory tests 1


#Table: mimiciv_derived.first_day_lab

# Albumin(albumin_min, albumin_max)
# Blood urea nitrogen (bun_min, bun_max)
# Calcium (calcium_min, calcium_max)
# creatinine (creatinine_min, creatinine_max)
# Glucose (glucose_min, glucose_max)
# Bicarbonate (bicarbonate_min, bicarbonate_max)
# Potassium (potassium_min, potassium_max)
# Sodium (sodium_min, sodium_max)
# Platelets (platelets_min, platelets_max)
# Bilirubin (bilirubin_total_min, bilirubin_total_max)
# White blood cell count (wbc_min, wbc_max)



#Not Found! 

# Lactate Dehydrogenase,
# Magnesium (Mg), 
#Leukocytes
# Urea

cohort_lab_tests_1 = run_query(f"""
SELECT 
       lab_tests.subject_id As subject_id,
       lab_tests.stay_id As stay_id,
       lab_tests.albumin_min As albumin_min,
       lab_tests.albumin_max As albumin_max,
       lab_tests.bun_min As bun_min,
       lab_tests.bun_max As bun_max,
       lab_tests.calcium_min As calcium_min,
       lab_tests.calcium_max As calcium_max,
       lab_tests.creatinine_min As creatinine_min,
       lab_tests.creatinine_max As creatinine_max,
       lab_tests.glucose_min As glucose_min,
       lab_tests.glucose_max As glucose_max,
       lab_tests.bicarbonate_min As bicarbonate_min,
       lab_tests.bicarbonate_max As bicarbonate_max,
       lab_tests.potassium_min As potassium_min,
       lab_tests.potassium_max As potassium_max,
       lab_tests.sodium_min As sodium_min,
       lab_tests.sodium_max As sodium_max,
       lab_tests.platelets_min As platelets_min,
       lab_tests.platelets_max As platelets_max,
       lab_tests.bilirubin_total_min As bilirubin_total_min,
       lab_tests.bilirubin_total_max As bilirubin_total_max,
       lab_tests.wbc_min As wbc_min,
       lab_tests.wbc_max As wbc_max,
 FROM `physionet-data.mimiciv_derived.first_day_lab`  As lab_tests
""")

In [25]:
cohort_lab_tests_1.to_csv('/content/drive/MyDrive/cohort_lab_tests_1.csv',index=False)

In [26]:
# Laboratory tests 2

#Table: mimiciv_derived.first_day_bg

# Lactate (lactate_min, lactate_max)
# pH (ph_min, ph_max)
# Partial pressure of carbon dioxide (pco2_min, pco2_max)
# Partial pressure of Oxygen (po2_min, po2_max)
# PaO2/FiO2 ratio (pao2fio2ratio_min, pao2fio2ratio_max)   

cohort_lab_tests_2 = run_query(f"""
SELECT
       lab_bg_tests.subject_id As subject_id,
       lab_bg_tests.stay_id As stay_id,
       lab_bg_tests.lactate_min As lactate_min,
       lab_bg_tests.lactate_max As lactate_max,
       lab_bg_tests.ph_min As ph_min,
       lab_bg_tests.ph_max As ph_max,
       lab_bg_tests.pco2_min As pco2_min,
       lab_bg_tests.pco2_max As pco2_max,
       lab_bg_tests.po2_min As po2_min,
       lab_bg_tests.po2_max As po2_max,
       lab_bg_tests.pao2fio2ratio_min As pao2fio2ratio_min,
       lab_bg_tests.pao2fio2ratio_max As pao2fio2ratio_max
       FROM `physionet-data.mimiciv_derived.first_day_bg` As lab_bg_tests
       """)

In [27]:
cohort_lab_tests_2.to_csv('/content/drive/MyDrive/cohort_lab_tests_2.csv',index=False)

#### **5. Queries for selecting comorbidities scores features for the cohort:**

In [28]:
# Comorbidities 1

# Table: mimiciv_derived.charlson
# Charlson index (charlson_comorbidity_index)


cohort_comorbidities_1 = run_query(f"""
SELECT charlson_comorbidity.subject_id As subject_id,
       charlson_comorbidity.hadm_id As hadm_id,
       charlson_comorbidity.charlson_comorbidity_index As charlson
FROM `physionet-data.mimiciv_derived.charlson` As charlson_comorbidity 
""")

In [29]:
cohort_comorbidities_1.to_csv('/content/drive/MyDrive/cohort_comorbidities_1.csv',index=False)

In [30]:
#Comorbidities 2

# Table: mimiciv_derived.first_day_gcs
# Glasgow coma scale (gcs_min)


cohort_comorbidities_2 = run_query(f"""
    SELECT gcs_first_day.subject_id As subject_id,
          gcs_first_day.stay_id As stay_id,
          gcs_first_day.gcs_min As gcs_min   
    FROM `physionet-data.mimiciv_derived.first_day_gcs` As gcs_first_day
    """)

In [31]:
cohort_comorbidities_2.to_csv('/content/drive/MyDrive/cohort_comorbidities_2.csv',index=False)

In [32]:
#Comorbidities 3
# Table: mimiciv_derived.first_day_sofa
# Sequential Organ Failure Assessment score (SOFA)

cohort_comorbidities_3 = run_query(f"""
    SELECT first_day_sofa.subject_id As subject_id,
          first_day_sofa.stay_id As stay_id,
          first_day_sofa.SOFA As sofa
    FROM `physionet-data.mimiciv_derived.first_day_sofa` As first_day_sofa 
""")

In [33]:
cohort_comorbidities_3.to_csv('/content/drive/MyDrive/cohort_comorbidities_3.csv',index=False)

#### **6. Query for selecting ventilation status feature for the cohort:**

In [34]:
# Device use

# Table: mimiciv_derived.ventilation
# Ventilation status (ventilation_status)

cohort_device_use = run_query(f"""
    SELECT  ventilation.stay_id As stay_id,
           ventilation.ventilation_status As ventilation_status
     FROM `physionet-data.mimiciv_derived.ventilation` As ventilation
    """)

In [35]:
cohort_device_use.to_csv('/content/drive/MyDrive/cohort_device_use.csv',index=False)

#### **7. Queries for selecting Input/Output feature for the cohort:**

In [36]:
# Input/output: 


# Table: mimiciv_derived.first_day_urine_output 
# Urine output (urineoutput)


cohort_urine_output = run_query(f"""
    SELECT urine_output.subject_id As subject_id,
          urine_output.stay_id As stay_id,
          urine_output.urineoutput As urineoutput          
    FROM `physionet-data.mimiciv_derived.first_day_urine_output` As urine_output
""")

In [37]:
cohort_urine_output.to_csv('/content/drive/MyDrive/cohort_urine_output.csv',index=False)

In [38]:
# Input/output: 

# Table: mimiciv_derived.vasoactive_agent
#ratio of all given drugs within the first 24 hours of icu_stay

cohort_vasopressin = run_query(f"""
    SELECT icustays.stay_id As stay_id,
           icustays.icu_intime,
           vasopressin.starttime,
           vasopressin.dopamine,
           vasopressin.epinephrine,
           vasopressin.norepinephrine,
           vasopressin.phenylephrine,
           vasopressin.vasopressin,
           vasopressin.dobutamine,
           vasopressin.milrinone,
          DATETIME_DIFF(CAST(vasopressin.starttime AS DATETIME) , CAST(icustays.icu_intime AS DATETIME) , HOUR) as icu_vasopressin_timediff
    FROM `physionet-data.mimiciv_derived.icustay_detail` AS icustays
    Inner JOIN `physionet-data.mimiciv_derived.vasoactive_agent` As vasopressin
      ON vasopressin.stay_id = icustays.stay_id AND
       DATETIME_DIFF(CAST(vasopressin.starttime AS DATETIME) , CAST(icustays.icu_intime AS DATETIME) , HOUR) <= 24
""")

In [39]:
cohort_vasopressin.to_csv('/content/drive/MyDrive/cohort_vasopressin.csv',index=False)

### **Join all result tables**

In [40]:
#Join tables: 

cohort_criteria = pd.read_csv('/content/drive/MyDrive/cohort_criteria_data.csv')
cohort_demographic_1 = pd.read_csv('/content/drive/MyDrive/cohort_demographic_1.csv')
cohort_demographic_2 = pd.read_csv('/content/drive/MyDrive/cohort_demographic_2.csv')
cohort_demographic_3 = pd.read_csv('/content/drive/MyDrive/cohort_demographic_3.csv')
cohort_demographic_4 = pd.read_csv('/content/drive/MyDrive/cohort_demographic_4.csv')
cohort_vitalsigns = pd.read_csv('/content/drive/MyDrive/cohort_vitalsigns.csv')
cohort_lab_tests_1 = pd.read_csv('/content/drive/MyDrive/cohort_lab_tests_1.csv')
cohort_lab_tests_2 = pd.read_csv('/content/drive/MyDrive/cohort_lab_tests_2.csv')
cohort_comorbidities_1 = pd.read_csv('/content/drive/MyDrive/cohort_comorbidities_1.csv')
cohort_comorbidities_2 = pd.read_csv('/content/drive/MyDrive/cohort_comorbidities_2.csv')
cohort_comorbidities_3 = pd.read_csv('/content/drive/MyDrive/cohort_comorbidities_3.csv')
cohort_device_use = pd.read_csv('/content/drive/MyDrive/cohort_device_use.csv')
cohort_urine = pd.read_csv('/content/drive/MyDrive/cohort_urine_output.csv')
cohort_vasopressin = pd.read_csv('/content/drive/MyDrive/cohort_vasopressin.csv')

In [41]:
#1. Join demographic_1:
query1 = f"""
SELECT DISTINCT cohort_criteria.*,
       cohort_demographic_1.* 
FROM cohort_criteria  As cohort_criteria
LEFT JOIN cohort_demographic_1 AS cohort_demographic_1
   ON cohort_demographic_1.stay_id = cohort_criteria.stay_id 
"""

In [42]:
#Run query
demographic_1_joined  = sqldf(query1, globals())

In [43]:
#Remove duplicate Ids columns 
demographic_1_joined = demographic_1_joined.loc[:,~demographic_1_joined.columns.duplicated()].copy()

In [44]:
#2. Join demographic_2:
query2 = f"""
SELECT DISTINCT demographic_1_joined.*,
       cohort_demographic_2.*
FROM demographic_1_joined  As demographic_1_joined
LEFT JOIN cohort_demographic_2 AS cohort_demographic_2
ON demographic_1_joined.hadm_id = cohort_demographic_2.hadm_id
"""

In [45]:
#Run query
demographic_2_joined  = sqldf(query2, globals())

In [46]:
#Remove duplicate Ids columns 
demographic_2_joined = demographic_2_joined.loc[:,~demographic_2_joined.columns.duplicated()].copy()

In [47]:
#3. Join lab tests 
query3 = f"""
SELECT DISTINCT demographic_2_joined.*,
      cohort_demographic_3.* 
FROM demographic_2_joined  As demographic_2_joined
LEFT JOIN cohort_demographic_3 AS cohort_demographic_3
ON demographic_2_joined.stay_id = cohort_demographic_3.stay_id
"""

In [48]:
#Run query
demographic_3_joined = sqldf(query3, globals())

In [49]:
#Remove duplicate Ids columns 
demographic_3_joined = demographic_3_joined.loc[:,~demographic_3_joined.columns.duplicated()].copy()

In [50]:
#4. Join comorbidities scores 

query4 = f"""
SELECT DISTINCT demographic_3_joined.*,
      cohort_demographic_4.*
FROM demographic_3_joined  As demographic_3_joined
LEFT JOIN cohort_demographic_4 AS cohort_demographic_4
ON demographic_3_joined.stay_id = cohort_demographic_4.stay_id
"""

In [51]:
#Run query
demographic_4_joined  = sqldf(query4, globals())

In [52]:
#Remove duplicate Ids columns 
demographic_4_joined = demographic_4_joined.loc[:,~demographic_4_joined.columns.duplicated()].copy()

In [53]:
#5. Join vital signs 

query5 = f"""
SELECT DISTINCT demographic_4_joined.*,
     cohort_vitalsigns.*
FROM demographic_4_joined  As demographic_4_joined
LEFT JOIN cohort_vitalsigns AS cohort_vitalsigns
ON demographic_4_joined.stay_id = cohort_vitalsigns.stay_id
"""

In [54]:
#Run query
vitalsigns_joined  = sqldf(query5, globals())

In [55]:
#Remove duplicate Ids columns 
vitalsigns_joined = vitalsigns_joined.loc[:,~vitalsigns_joined.columns.duplicated()].copy()

In [56]:
#6. Join lab tests 1 

query6 = f"""
SELECT DISTINCT vitalsigns_joined.*,
     cohort_lab_tests_1.*
FROM vitalsigns_joined As vitalsigns_joined
LEFT JOIN cohort_lab_tests_1 AS cohort_lab_tests_1
ON vitalsigns_joined.stay_id = cohort_lab_tests_1.stay_id
"""

In [57]:
#Run query
lab_test_1_joined  = sqldf(query6, globals())

In [58]:
#Remove duplicate Ids columns 
lab_test_1_joined = lab_test_1_joined.loc[:,~lab_test_1_joined.columns.duplicated()].copy()

In [59]:
#7. Join lab tests 2

query7 = f"""
SELECT DISTINCT lab_test_1_joined.*,
     cohort_lab_tests_2.*
FROM lab_test_1_joined As lab_test_1_joined
LEFT JOIN cohort_lab_tests_2 AS cohort_lab_tests_2
ON lab_test_1_joined.stay_id = cohort_lab_tests_2.stay_id
"""

In [60]:
#Run query
lab_test_2_joined  = sqldf(query7, globals())

In [61]:
#Remove duplicate Ids columns 
lab_test_2_joined = lab_test_2_joined.loc[:,~lab_test_2_joined.columns.duplicated()].copy()

In [62]:
#8. Join comorbiditiy score 1 

query8 = f"""
SELECT DISTINCT lab_test_2_joined.*,
     cohort_comorbidities_1.*
FROM lab_test_2_joined As lab_test_2_joined
LEFT JOIN cohort_comorbidities_1 AS cohort_comorbidities_1
ON lab_test_2_joined.hadm_id = cohort_comorbidities_1.hadm_id
"""

In [63]:
#Run query
comorbidities_1_joined  = sqldf(query8, globals())

In [64]:
#Remove duplicate Ids columns 
comorbidities_1_joined = comorbidities_1_joined.loc[:,~comorbidities_1_joined.columns.duplicated()].copy()

In [65]:
#9. Join comorbiditiy score 2

query9 = f"""
SELECT DISTINCT comorbidities_1_joined.*,
     cohort_comorbidities_2.*
FROM comorbidities_1_joined As comorbidities_1_joined
LEFT JOIN cohort_comorbidities_2 AS cohort_comorbidities_2
ON comorbidities_1_joined.stay_id = cohort_comorbidities_2.stay_id
"""

In [66]:
#Run query
comorbidities_2_joined  = sqldf(query9, globals())

In [67]:
#Remove duplicate Ids columns 
comorbidities_2_joined = comorbidities_2_joined.loc[:,~comorbidities_2_joined.columns.duplicated()].copy()

In [68]:
#10. Join comorbiditiy score 3

query10 = f"""
SELECT DISTINCT comorbidities_2_joined.*,
     cohort_comorbidities_3.*
FROM comorbidities_2_joined As comorbidities_2_joined
LEFT JOIN cohort_comorbidities_3 AS cohort_comorbidities_3
ON comorbidities_2_joined.stay_id = cohort_comorbidities_3.stay_id
"""

In [69]:
#Run query
comorbidities_3_joined  = sqldf(query10, globals())

In [70]:
#Remove duplicate Ids columns 
comorbidities_3_joined = comorbidities_3_joined.loc[:,~comorbidities_3_joined.columns.duplicated()].copy()

In [71]:
# 11. Join ventilation status
query11 = f"""
SELECT DISTINCT comorbidities_3_joined.*,
     cohort_device_use.*
FROM comorbidities_3_joined As comorbidities_3_joined
LEFT JOIN cohort_device_use AS cohort_device_use
ON comorbidities_3_joined.stay_id = cohort_device_use.stay_id
"""

In [72]:
#Run query
device_use_joined = sqldf(query11, globals())

In [73]:
#Remove duplicate Ids columns 
device_use_joined = device_use_joined.loc[:,~device_use_joined.columns.duplicated()].copy()

In [74]:
# 12. Join Input/Output 1 

query12 = f"""
SELECT DISTINCT device_use_joined.*,
     cohort_urine.*
FROM device_use_joined As device_use_joined
LEFT JOIN  cohort_urine AS  cohort_urine
ON device_use_joined.stay_id =  cohort_urine.stay_id
"""

In [75]:
#Run query
urine_output_joined = sqldf(query12, globals())

In [76]:
#Remove duplicate Ids columns 
urine_output_joined = urine_output_joined.loc[:,~urine_output_joined.columns.duplicated()].copy()

In [77]:
# 13. Join Input/Output 2

query13 = f"""
SELECT DISTINCT urine_output_joined.*,
     cohort_vasopressin.*
FROM urine_output_joined As urine_output_joined
LEFT JOIN cohort_vasopressin AS cohort_vasopressin
ON urine_output_joined.stay_id = cohort_vasopressin.stay_id
"""

In [78]:
#Run query
vasopressin_input_joined = sqldf(query13, globals())

In [79]:
#Remove duplicate Ids columns 
vasopressin_input_joined = vasopressin_input_joined.loc[:,~vasopressin_input_joined.columns.duplicated()].copy()

### **Final result table**

In [102]:
initial_cohort = vasopressin_input_joined.copy()

In [103]:
initial_cohort

,subject_id,hadm_id,stay_id,n_stays,sum_los,gender,admission_age,suspected_infection,admission_type,weight,...,icu_intime,starttime,dopamine,epinephrine,norepinephrine,phenylephrine,vasopressin,dobutamine,milrinone,icu_vasopressin_timediff
0,10002348,22725460,32610785,1,9.79,F,77,1.0,OBSERVATION ADMIT,41.6,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10002428,28662225,38875437,2,11.96,F,81,1.0,EW EMER.,43.0,...,2156-04-19 18:11:19,2156-04-19 20:33:00,NaN,NaN,NaN,0.500125,NaN,NaN,NaN,2.0
2,10002428,28662225,38875437,2,11.96,F,81,1.0,EW EMER.,43.0,...,2156-04-19 18:11:19,2156-04-19 20:47:00,NaN,NaN,NaN,1.000250,NaN,NaN,NaN,2.0
3,10002428,28662225,38875437,2,11.96,F,81,1.0,EW EMER.,43.0,...,2156-04-19 18:11:19,2156-04-19 21:01:00,NaN,NaN,NaN,1.500375,NaN,NaN,NaN,3.0
4,10002428,28662225,38875437,2,11.96,F,81,1.0,EW EMER.,43.0,...,2156-04-19 18:11:19,2156-04-20 02:47:00,NaN,NaN,NaN,1.700226,NaN,NaN,NaN,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145182,19997752,29452285,34531437,1,5.00,F,66,1.0,URGENT,87.5,...,2128-03-02 11:09:09,2128-03-02 16:50:00,NaN,NaN,NaN,0.600233,NaN,NaN,NaN,5.0
145183,19997752,29452285,34531437,1,5.00,F,66,1.0,URGENT,87.5,...,2128-03-02 11:09:09,2128-03-02 17:02:00,NaN,NaN,NaN,0.400155,NaN,NaN,NaN,6.0
145184,19999068,21606769,30143796,1,6.75,M,63,NaN,EW EMER.,55.8,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145185,19999442,26785317,32336619,1,6.96,M,43,1.0,ELECTIVE,107.5,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145186,19999442,26785317,32336619,1,6.96,M,43,1.0,ELECTIVE,107.5,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
initial_cohort.to_csv('/content/drive/MyDrive/initial_cohort_final.csv')

In [105]:
initial_cohort.describe()

,subject_id,hadm_id,stay_id,n_stays,sum_los,admission_age,suspected_infection,weight,height,heart_rate_min,...,sofa,urineoutput,dopamine,epinephrine,norepinephrine,phenylephrine,vasopressin,dobutamine,milrinone,icu_vasopressin_timediff
count,1.451870e+05,1.451870e+05,1.451870e+05,145187.000000,145187.000000,145187.000000,135423.000000,143274.000000,108050.000000,145145.000000,...,145187.000000,142981.000000,4237.000000,27154.000000,72935.000000,53643.000000,28356.000000,3258.000000,12857.000000,132459.000000
mean,1.492479e+07,2.501178e+07,3.499565e+07,1.384752,11.304277,63.235235,0.946523,88.583883,170.234887,72.575624,...,9.038054,1767.903368,8.475667,0.048737,0.180830,1.349731,2.511126,5.188476,0.352342,11.462739
std,2.917769e+06,2.885977e+06,2.884559e+06,0.724206,10.309564,15.058439,0.224983,24.685484,10.154255,16.291415,...,4.032632,1390.306382,17.361284,0.065884,0.496003,4.539599,3.012303,3.139076,1.077307,6.920540
min,1.000235e+07,2.000136e+07,3.000015e+07,1.000000,3.300000,18.000000,0.000000,1.000000,122.000000,1.000000,...,0.000000,-1590.000000,0.500005,0.004000,0.000700,0.009401,0.120000,0.416731,0.030000,-93.000000
25%,1.236445e+07,2.255673e+07,3.252813e+07,1.000000,4.880000,54.000000,1.000000,71.750000,163.000000,61.000000,...,6.000000,915.000000,4.003674,0.020018,0.060033,0.500200,2.400000,2.501894,0.250094,6.000000
50%,1.490802e+07,2.503613e+07,3.494689e+07,1.000000,7.420000,65.000000,1.000000,85.300000,170.000000,71.000000,...,9.000000,1485.000000,6.010280,0.030046,0.120048,0.999803,2.400000,5.004133,0.256313,11.000000
75%,1.745576e+07,2.748410e+07,3.748643e+07,2.000000,13.790000,74.000000,1.000000,100.900000,178.000000,82.000000,...,12.000000,2275.000000,10.063905,0.050086,0.239504,1.593158,2.409638,5.286218,0.499924,17.000000
max,1.999944e+07,2.999962e+07,3.999981e+07,7.000000,101.750000,90.000000,1.000000,1251.000000,203.000000,157.000000,...,21.000000,30595.000000,1069.518805,2.025053,46.321433,494.958341,295.350006,28.868360,99.206001,24.000000